Web/Web References/Coupon_API_UAT/Demo.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="CreateCoupon">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="companyCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="brandCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="couponID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="offCouponID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CouponCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="campaignCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="campaignCodeType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="campaignChannel" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="counterCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="couponType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="discountCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="discountBy" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="discountRate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PeriodType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CouponPeriod" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="couponDescription" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="startTime" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="endTime" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="usageDescription" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="wechatModuleID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="generateTime" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="createUser" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="createTime" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="updateUser" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="updateTime" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateCouponResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CreateCouponResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="VoidCoupon">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="companyCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="brandCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="couponID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="reasonCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="updateUser" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="updateTime" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="VoidCouponResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="VoidCouponResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AllocateCoupon">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="companyCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="brandCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="couponID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="memberCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="reasonCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="updateUser" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="updateTime" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AllocateCouponResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AllocateCouponResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PickupCoupon">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="companyCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="brandCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="couponID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="memberCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="reasonCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="createUser" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="createTime" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="updateUser" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="updateTime" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PickupCouponResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PickupCouponResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RedeemCoupon">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="companyCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="brandCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="channel" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="couponID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="memberCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="reasonCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="updateUser" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="updateTime" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RedeemCouponResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RedeemCouponResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RedeemMultiCoupon">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="companyCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="brandCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="channel" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="couponIDs" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="memberCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="reasonCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="createUser" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="createTime" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="updateUser" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="updateTime" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RedeemMultiCouponResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RedeemMultiCouponResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCouponLists">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="companyCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="brandCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="channel" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="memberCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="openID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="txUSer" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCouponListsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCouponListsResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCouponInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="companyCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="brandCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="channel" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="shopCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="couponID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="txUser" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCouponInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCouponInfoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GenreateCouponID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="companyCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="brandCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CouponCode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GenreateCouponIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GenreateCouponIDResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RedeemCouponNew">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="companyCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="brandCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="channel" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="couponID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="memberCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="reasonCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="updateUser" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="updateTime" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ValidateMember" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RedeemCouponNewResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RedeemCouponNewResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PickUpCouponNew">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="companyCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="brandCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="couponID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="memberCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="reasonCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="updateUser" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="updateTime" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ValidateMember" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PickUpCouponNewResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PickUpCouponNewResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CreateCouponSoapIn">
    <wsdl:part name="parameters" element="tns:CreateCoupon" />
  </wsdl:message>
  <wsdl:message name="CreateCouponSoapOut">
    <wsdl:part name="parameters" element="tns:CreateCouponResponse" />
  </wsdl:message>
  <wsdl:message name="VoidCouponSoapIn">
    <wsdl:part name="parameters" element="tns:VoidCoupon" />
  </wsdl:message>
  <wsdl:message name="VoidCouponSoapOut">
    <wsdl:part name="parameters" element="tns:VoidCouponResponse" />
  </wsdl:message>
  <wsdl:message name="AllocateCouponSoapIn">
    <wsdl:part name="parameters" element="tns:AllocateCoupon" />
  </wsdl:message>
  <wsdl:message name="AllocateCouponSoapOut">
    <wsdl:part name="parameters" element="tns:AllocateCouponResponse" />
  </wsdl:message>
  <wsdl:message name="PickupCouponSoapIn">
    <wsdl:part name="parameters" element="tns:PickupCoupon" />
  </wsdl:message>
  <wsdl:message name="PickupCouponSoapOut">
    <wsdl:part name="parameters" element="tns:PickupCouponResponse" />
  </wsdl:message>
  <wsdl:message name="RedeemCouponSoapIn">
    <wsdl:part name="parameters" element="tns:RedeemCoupon" />
  </wsdl:message>
  <wsdl:message name="RedeemCouponSoapOut">
    <wsdl:part name="parameters" element="tns:RedeemCouponResponse" />
  </wsdl:message>
  <wsdl:message name="RedeemMultiCouponSoapIn">
    <wsdl:part name="parameters" element="tns:RedeemMultiCoupon" />
  </wsdl:message>
  <wsdl:message name="RedeemMultiCouponSoapOut">
    <wsdl:part name="parameters" element="tns:RedeemMultiCouponResponse" />
  </wsdl:message>
  <wsdl:message name="GetCouponListsSoapIn">
    <wsdl:part name="parameters" element="tns:GetCouponLists" />
  </wsdl:message>
  <wsdl:message name="GetCouponListsSoapOut">
    <wsdl:part name="parameters" element="tns:GetCouponListsResponse" />
  </wsdl:message>
  <wsdl:message name="GetCouponInfoSoapIn">
    <wsdl:part name="parameters" element="tns:GetCouponInfo" />
  </wsdl:message>
  <wsdl:message name="GetCouponInfoSoapOut">
    <wsdl:part name="parameters" element="tns:GetCouponInfoResponse" />
  </wsdl:message>
  <wsdl:message name="GenreateCouponIDSoapIn">
    <wsdl:part name="parameters" element="tns:GenreateCouponID" />
  </wsdl:message>
  <wsdl:message name="GenreateCouponIDSoapOut">
    <wsdl:part name="parameters" element="tns:GenreateCouponIDResponse" />
  </wsdl:message>
  <wsdl:message name="RedeemCouponNewSoapIn">
    <wsdl:part name="parameters" element="tns:RedeemCouponNew" />
  </wsdl:message>
  <wsdl:message name="RedeemCouponNewSoapOut">
    <wsdl:part name="parameters" element="tns:RedeemCouponNewResponse" />
  </wsdl:message>
  <wsdl:message name="PickUpCouponNewSoapIn">
    <wsdl:part name="parameters" element="tns:PickUpCouponNew" />
  </wsdl:message>
  <wsdl:message name="PickUpCouponNewSoapOut">
    <wsdl:part name="parameters" element="tns:PickUpCouponNewResponse" />
  </wsdl:message>
  <wsdl:message name="CreateCouponHttpGetIn">
    <wsdl:part name="companyCode" type="s:string" />
    <wsdl:part name="brandCode" type="s:string" />
    <wsdl:part name="couponID" type="s:string" />
    <wsdl:part name="offCouponID" type="s:string" />
    <wsdl:part name="CouponCode" type="s:string" />
    <wsdl:part name="campaignCode" type="s:string" />
    <wsdl:part name="campaignCodeType" type="s:string" />
    <wsdl:part name="campaignChannel" type="s:string" />
    <wsdl:part name="counterCode" type="s:string" />
    <wsdl:part name="couponType" type="s:string" />
    <wsdl:part name="discountCode" type="s:string" />
    <wsdl:part name="discountBy" type="s:string" />
    <wsdl:part name="discountRate" type="s:string" />
    <wsdl:part name="PeriodType" type="s:string" />
    <wsdl:part name="CouponPeriod" type="s:string" />
    <wsdl:part name="couponDescription" type="s:string" />
    <wsdl:part name="startTime" type="s:string" />
    <wsdl:part name="endTime" type="s:string" />
    <wsdl:part name="usageDescription" type="s:string" />
    <wsdl:part name="wechatModuleID" type="s:string" />
    <wsdl:part name="generateTime" type="s:string" />
    <wsdl:part name="createUser" type="s:string" />
    <wsdl:part name="createTime" type="s:string" />
    <wsdl:part name="updateUser" type="s:string" />
    <wsdl:part name="updateTime" type="s:string" />
  </wsdl:message>
  <wsdl:message name="CreateCouponHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="VoidCouponHttpGetIn">
    <wsdl:part name="companyCode" type="s:string" />
    <wsdl:part name="brandCode" type="s:string" />
    <wsdl:part name="couponID" type="s:string" />
    <wsdl:part name="reasonCode" type="s:string" />
    <wsdl:part name="updateUser" type="s:string" />
    <wsdl:part name="updateTime" type="s:string" />
  </wsdl:message>
  <wsdl:message name="VoidCouponHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="AllocateCouponHttpGetIn">
    <wsdl:part name="companyCode" type="s:string" />
    <wsdl:part name="brandCode" type="s:string" />
    <wsdl:part name="couponID" type="s:string" />
    <wsdl:part name="memberCode" type="s:string" />
    <wsdl:part name="reasonCode" type="s:string" />
    <wsdl:part name="updateUser" type="s:string" />
    <wsdl:part name="updateTime" type="s:string" />
  </wsdl:message>
  <wsdl:message name="AllocateCouponHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="PickupCouponHttpGetIn">
    <wsdl:part name="companyCode" type="s:string" />
    <wsdl:part name="brandCode" type="s:string" />
    <wsdl:part name="couponID" type="s:string" />
    <wsdl:part name="memberCode" type="s:string" />
    <wsdl:part name="reasonCode" type="s:string" />
    <wsdl:part name="createUser" type="s:string" />
    <wsdl:part name="createTime" type="s:string" />
    <wsdl:part name="updateUser" type="s:string" />
    <wsdl:part name="updateTime" type="s:string" />
  </wsdl:message>
  <wsdl:message name="PickupCouponHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="RedeemCouponHttpGetIn">
    <wsdl:part name="companyCode" type="s:string" />
    <wsdl:part name="brandCode" type="s:string" />
    <wsdl:part name="channel" type="s:string" />
    <wsdl:part name="couponID" type="s:string" />
    <wsdl:part name="memberCode" type="s:string" />
    <wsdl:part name="reasonCode" type="s:string" />
    <wsdl:part name="updateUser" type="s:string" />
    <wsdl:part name="updateTime" type="s:string" />
  </wsdl:message>
  <wsdl:message name="RedeemCouponHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="RedeemMultiCouponHttpGetIn">
    <wsdl:part name="companyCode" type="s:string" />
    <wsdl:part name="brandCode" type="s:string" />
    <wsdl:part name="channel" type="s:string" />
    <wsdl:part name="couponIDs" type="s:string" />
    <wsdl:part name="memberCode" type="s:string" />
    <wsdl:part name="reasonCode" type="s:string" />
    <wsdl:part name="createUser" type="s:string" />
    <wsdl:part name="createTime" type="s:string" />
    <wsdl:part name="updateUser" type="s:string" />
    <wsdl:part name="updateTime" type="s:string" />
  </wsdl:message>
  <wsdl:message name="RedeemMultiCouponHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetCouponListsHttpGetIn">
    <wsdl:part name="companyCode" type="s:string" />
    <wsdl:part name="brandCode" type="s:string" />
    <wsdl:part name="channel" type="s:string" />
    <wsdl:part name="memberCode" type="s:string" />
    <wsdl:part name="openID" type="s:string" />
    <wsdl:part name="txUSer" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetCouponListsHttpGetOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="GetCouponInfoHttpGetIn">
    <wsdl:part name="companyCode" type="s:string" />
    <wsdl:part name="brandCode" type="s:string" />
    <wsdl:part name="channel" type="s:string" />
    <wsdl:part name="shopCode" type="s:string" />
    <wsdl:part name="couponID" type="s:string" />
    <wsdl:part name="txUser" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetCouponInfoHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GenreateCouponIDHttpGetIn">
    <wsdl:part name="companyCode" type="s:string" />
    <wsdl:part name="brandCode" type="s:string" />
    <wsdl:part name="CouponCode" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GenreateCouponIDHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="RedeemCouponNewHttpGetIn">
    <wsdl:part name="companyCode" type="s:string" />
    <wsdl:part name="brandCode" type="s:string" />
    <wsdl:part name="channel" type="s:string" />
    <wsdl:part name="couponID" type="s:string" />
    <wsdl:part name="memberCode" type="s:string" />
    <wsdl:part name="reasonCode" type="s:string" />
    <wsdl:part name="updateUser" type="s:string" />
    <wsdl:part name="updateTime" type="s:string" />
    <wsdl:part name="ValidateMember" type="s:string" />
  </wsdl:message>
  <wsdl:message name="RedeemCouponNewHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="PickUpCouponNewHttpGetIn">
    <wsdl:part name="companyCode" type="s:string" />
    <wsdl:part name="brandCode" type="s:string" />
    <wsdl:part name="couponID" type="s:string" />
    <wsdl:part name="memberCode" type="s:string" />
    <wsdl:part name="reasonCode" type="s:string" />
    <wsdl:part name="updateUser" type="s:string" />
    <wsdl:part name="updateTime" type="s:string" />
    <wsdl:part name="ValidateMember" type="s:string" />
  </wsdl:message>
  <wsdl:message name="PickUpCouponNewHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="CreateCouponHttpPostIn">
    <wsdl:part name="companyCode" type="s:string" />
    <wsdl:part name="brandCode" type="s:string" />
    <wsdl:part name="couponID" type="s:string" />
    <wsdl:part name="offCouponID" type="s:string" />
    <wsdl:part name="CouponCode" type="s:string" />
    <wsdl:part name="campaignCode" type="s:string" />
    <wsdl:part name="campaignCodeType" type="s:string" />
    <wsdl:part name="campaignChannel" type="s:string" />
    <wsdl:part name="counterCode" type="s:string" />
    <wsdl:part name="couponType" type="s:string" />
    <wsdl:part name="discountCode" type="s:string" />
    <wsdl:part name="discountBy" type="s:string" />
    <wsdl:part name="discountRate" type="s:string" />
    <wsdl:part name="PeriodType" type="s:string" />
    <wsdl:part name="CouponPeriod" type="s:string" />
    <wsdl:part name="couponDescription" type="s:string" />
    <wsdl:part name="startTime" type="s:string" />
    <wsdl:part name="endTime" type="s:string" />
    <wsdl:part name="usageDescription" type="s:string" />
    <wsdl:part name="wechatModuleID" type="s:string" />
    <wsdl:part name="generateTime" type="s:string" />
    <wsdl:part name="createUser" type="s:string" />
    <wsdl:part name="createTime" type="s:string" />
    <wsdl:part name="updateUser" type="s:string" />
    <wsdl:part name="updateTime" type="s:string" />
  </wsdl:message>
  <wsdl:message name="CreateCouponHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="VoidCouponHttpPostIn">
    <wsdl:part name="companyCode" type="s:string" />
    <wsdl:part name="brandCode" type="s:string" />
    <wsdl:part name="couponID" type="s:string" />
    <wsdl:part name="reasonCode" type="s:string" />
    <wsdl:part name="updateUser" type="s:string" />
    <wsdl:part name="updateTime" type="s:string" />
  </wsdl:message>
  <wsdl:message name="VoidCouponHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="AllocateCouponHttpPostIn">
    <wsdl:part name="companyCode" type="s:string" />
    <wsdl:part name="brandCode" type="s:string" />
    <wsdl:part name="couponID" type="s:string" />
    <wsdl:part name="memberCode" type="s:string" />
    <wsdl:part name="reasonCode" type="s:string" />
    <wsdl:part name="updateUser" type="s:string" />
    <wsdl:part name="updateTime" type="s:string" />
  </wsdl:message>
  <wsdl:message name="AllocateCouponHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="PickupCouponHttpPostIn">
    <wsdl:part name="companyCode" type="s:string" />
    <wsdl:part name="brandCode" type="s:string" />
    <wsdl:part name="couponID" type="s:string" />
    <wsdl:part name="memberCode" type="s:string" />
    <wsdl:part name="reasonCode" type="s:string" />
    <wsdl:part name="createUser" type="s:string" />
    <wsdl:part name="createTime" type="s:string" />
    <wsdl:part name="updateUser" type="s:string" />
    <wsdl:part name="updateTime" type="s:string" />
  </wsdl:message>
  <wsdl:message name="PickupCouponHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="RedeemCouponHttpPostIn">
    <wsdl:part name="companyCode" type="s:string" />
    <wsdl:part name="brandCode" type="s:string" />
    <wsdl:part name="channel" type="s:string" />
    <wsdl:part name="couponID" type="s:string" />
    <wsdl:part name="memberCode" type="s:string" />
    <wsdl:part name="reasonCode" type="s:string" />
    <wsdl:part name="updateUser" type="s:string" />
    <wsdl:part name="updateTime" type="s:string" />
  </wsdl:message>
  <wsdl:message name="RedeemCouponHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="RedeemMultiCouponHttpPostIn">
    <wsdl:part name="companyCode" type="s:string" />
    <wsdl:part name="brandCode" type="s:string" />
    <wsdl:part name="channel" type="s:string" />
    <wsdl:part name="couponIDs" type="s:string" />
    <wsdl:part name="memberCode" type="s:string" />
    <wsdl:part name="reasonCode" type="s:string" />
    <wsdl:part name="createUser" type="s:string" />
    <wsdl:part name="createTime" type="s:string" />
    <wsdl:part name="updateUser" type="s:string" />
    <wsdl:part name="updateTime" type="s:string" />
  </wsdl:message>
  <wsdl:message name="RedeemMultiCouponHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetCouponListsHttpPostIn">
    <wsdl:part name="companyCode" type="s:string" />
    <wsdl:part name="brandCode" type="s:string" />
    <wsdl:part name="channel" type="s:string" />
    <wsdl:part name="memberCode" type="s:string" />
    <wsdl:part name="openID" type="s:string" />
    <wsdl:part name="txUSer" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetCouponListsHttpPostOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="GetCouponInfoHttpPostIn">
    <wsdl:part name="companyCode" type="s:string" />
    <wsdl:part name="brandCode" type="s:string" />
    <wsdl:part name="channel" type="s:string" />
    <wsdl:part name="shopCode" type="s:string" />
    <wsdl:part name="couponID" type="s:string" />
    <wsdl:part name="txUser" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetCouponInfoHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GenreateCouponIDHttpPostIn">
    <wsdl:part name="companyCode" type="s:string" />
    <wsdl:part name="brandCode" type="s:string" />
    <wsdl:part name="CouponCode" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GenreateCouponIDHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="RedeemCouponNewHttpPostIn">
    <wsdl:part name="companyCode" type="s:string" />
    <wsdl:part name="brandCode" type="s:string" />
    <wsdl:part name="channel" type="s:string" />
    <wsdl:part name="couponID" type="s:string" />
    <wsdl:part name="memberCode" type="s:string" />
    <wsdl:part name="reasonCode" type="s:string" />
    <wsdl:part name="updateUser" type="s:string" />
    <wsdl:part name="updateTime" type="s:string" />
    <wsdl:part name="ValidateMember" type="s:string" />
  </wsdl:message>
  <wsdl:message name="RedeemCouponNewHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="PickUpCouponNewHttpPostIn">
    <wsdl:part name="companyCode" type="s:string" />
    <wsdl:part name="brandCode" type="s:string" />
    <wsdl:part name="couponID" type="s:string" />
    <wsdl:part name="memberCode" type="s:string" />
    <wsdl:part name="reasonCode" type="s:string" />
    <wsdl:part name="updateUser" type="s:string" />
    <wsdl:part name="updateTime" type="s:string" />
    <wsdl:part name="ValidateMember" type="s:string" />
  </wsdl:message>
  <wsdl:message name="PickUpCouponNewHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:portType name="DemoSoap">
    <wsdl:operation name="CreateCoupon">
      <wsdl:input message="tns:CreateCouponSoapIn" />
      <wsdl:output message="tns:CreateCouponSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="VoidCoupon">
      <wsdl:input message="tns:VoidCouponSoapIn" />
      <wsdl:output message="tns:VoidCouponSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AllocateCoupon">
      <wsdl:input message="tns:AllocateCouponSoapIn" />
      <wsdl:output message="tns:AllocateCouponSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PickupCoupon">
      <wsdl:input message="tns:PickupCouponSoapIn" />
      <wsdl:output message="tns:PickupCouponSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RedeemCoupon">
      <wsdl:input message="tns:RedeemCouponSoapIn" />
      <wsdl:output message="tns:RedeemCouponSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RedeemMultiCoupon">
      <wsdl:input message="tns:RedeemMultiCouponSoapIn" />
      <wsdl:output message="tns:RedeemMultiCouponSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCouponLists">
      <wsdl:input message="tns:GetCouponListsSoapIn" />
      <wsdl:output message="tns:GetCouponListsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCouponInfo">
      <wsdl:input message="tns:GetCouponInfoSoapIn" />
      <wsdl:output message="tns:GetCouponInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GenreateCouponID">
      <wsdl:input message="tns:GenreateCouponIDSoapIn" />
      <wsdl:output message="tns:GenreateCouponIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RedeemCouponNew">
      <wsdl:input message="tns:RedeemCouponNewSoapIn" />
      <wsdl:output message="tns:RedeemCouponNewSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PickUpCouponNew">
      <wsdl:input message="tns:PickUpCouponNewSoapIn" />
      <wsdl:output message="tns:PickUpCouponNewSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="DemoHttpGet">
    <wsdl:operation name="CreateCoupon">
      <wsdl:input message="tns:CreateCouponHttpGetIn" />
      <wsdl:output message="tns:CreateCouponHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="VoidCoupon">
      <wsdl:input message="tns:VoidCouponHttpGetIn" />
      <wsdl:output message="tns:VoidCouponHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="AllocateCoupon">
      <wsdl:input message="tns:AllocateCouponHttpGetIn" />
      <wsdl:output message="tns:AllocateCouponHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="PickupCoupon">
      <wsdl:input message="tns:PickupCouponHttpGetIn" />
      <wsdl:output message="tns:PickupCouponHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="RedeemCoupon">
      <wsdl:input message="tns:RedeemCouponHttpGetIn" />
      <wsdl:output message="tns:RedeemCouponHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="RedeemMultiCoupon">
      <wsdl:input message="tns:RedeemMultiCouponHttpGetIn" />
      <wsdl:output message="tns:RedeemMultiCouponHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCouponLists">
      <wsdl:input message="tns:GetCouponListsHttpGetIn" />
      <wsdl:output message="tns:GetCouponListsHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCouponInfo">
      <wsdl:input message="tns:GetCouponInfoHttpGetIn" />
      <wsdl:output message="tns:GetCouponInfoHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GenreateCouponID">
      <wsdl:input message="tns:GenreateCouponIDHttpGetIn" />
      <wsdl:output message="tns:GenreateCouponIDHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="RedeemCouponNew">
      <wsdl:input message="tns:RedeemCouponNewHttpGetIn" />
      <wsdl:output message="tns:RedeemCouponNewHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="PickUpCouponNew">
      <wsdl:input message="tns:PickUpCouponNewHttpGetIn" />
      <wsdl:output message="tns:PickUpCouponNewHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="DemoHttpPost">
    <wsdl:operation name="CreateCoupon">
      <wsdl:input message="tns:CreateCouponHttpPostIn" />
      <wsdl:output message="tns:CreateCouponHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="VoidCoupon">
      <wsdl:input message="tns:VoidCouponHttpPostIn" />
      <wsdl:output message="tns:VoidCouponHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="AllocateCoupon">
      <wsdl:input message="tns:AllocateCouponHttpPostIn" />
      <wsdl:output message="tns:AllocateCouponHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="PickupCoupon">
      <wsdl:input message="tns:PickupCouponHttpPostIn" />
      <wsdl:output message="tns:PickupCouponHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="RedeemCoupon">
      <wsdl:input message="tns:RedeemCouponHttpPostIn" />
      <wsdl:output message="tns:RedeemCouponHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="RedeemMultiCoupon">
      <wsdl:input message="tns:RedeemMultiCouponHttpPostIn" />
      <wsdl:output message="tns:RedeemMultiCouponHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCouponLists">
      <wsdl:input message="tns:GetCouponListsHttpPostIn" />
      <wsdl:output message="tns:GetCouponListsHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCouponInfo">
      <wsdl:input message="tns:GetCouponInfoHttpPostIn" />
      <wsdl:output message="tns:GetCouponInfoHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GenreateCouponID">
      <wsdl:input message="tns:GenreateCouponIDHttpPostIn" />
      <wsdl:output message="tns:GenreateCouponIDHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="RedeemCouponNew">
      <wsdl:input message="tns:RedeemCouponNewHttpPostIn" />
      <wsdl:output message="tns:RedeemCouponNewHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="PickUpCouponNew">
      <wsdl:input message="tns:PickUpCouponNewHttpPostIn" />
      <wsdl:output message="tns:PickUpCouponNewHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DemoSoap" type="tns:DemoSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateCoupon">
      <soap:operation soapAction="http://tempuri.org/CreateCoupon" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VoidCoupon">
      <soap:operation soapAction="http://tempuri.org/VoidCoupon" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AllocateCoupon">
      <soap:operation soapAction="http://tempuri.org/AllocateCoupon" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PickupCoupon">
      <soap:operation soapAction="http://tempuri.org/PickupCoupon" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RedeemCoupon">
      <soap:operation soapAction="http://tempuri.org/RedeemCoupon" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RedeemMultiCoupon">
      <soap:operation soapAction="http://tempuri.org/RedeemMultiCoupon" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCouponLists">
      <soap:operation soapAction="http://tempuri.org/GetCouponLists" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCouponInfo">
      <soap:operation soapAction="http://tempuri.org/GetCouponInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenreateCouponID">
      <soap:operation soapAction="http://tempuri.org/GenreateCouponID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RedeemCouponNew">
      <soap:operation soapAction="http://tempuri.org/RedeemCouponNew" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PickUpCouponNew">
      <soap:operation soapAction="http://tempuri.org/PickUpCouponNew" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="DemoSoap12" type="tns:DemoSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateCoupon">
      <soap12:operation soapAction="http://tempuri.org/CreateCoupon" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VoidCoupon">
      <soap12:operation soapAction="http://tempuri.org/VoidCoupon" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AllocateCoupon">
      <soap12:operation soapAction="http://tempuri.org/AllocateCoupon" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PickupCoupon">
      <soap12:operation soapAction="http://tempuri.org/PickupCoupon" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RedeemCoupon">
      <soap12:operation soapAction="http://tempuri.org/RedeemCoupon" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RedeemMultiCoupon">
      <soap12:operation soapAction="http://tempuri.org/RedeemMultiCoupon" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCouponLists">
      <soap12:operation soapAction="http://tempuri.org/GetCouponLists" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCouponInfo">
      <soap12:operation soapAction="http://tempuri.org/GetCouponInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenreateCouponID">
      <soap12:operation soapAction="http://tempuri.org/GenreateCouponID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RedeemCouponNew">
      <soap12:operation soapAction="http://tempuri.org/RedeemCouponNew" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PickUpCouponNew">
      <soap12:operation soapAction="http://tempuri.org/PickUpCouponNew" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="DemoHttpGet" type="tns:DemoHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="CreateCoupon">
      <http:operation location="/CreateCoupon" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VoidCoupon">
      <http:operation location="/VoidCoupon" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AllocateCoupon">
      <http:operation location="/AllocateCoupon" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PickupCoupon">
      <http:operation location="/PickupCoupon" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RedeemCoupon">
      <http:operation location="/RedeemCoupon" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RedeemMultiCoupon">
      <http:operation location="/RedeemMultiCoupon" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCouponLists">
      <http:operation location="/GetCouponLists" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCouponInfo">
      <http:operation location="/GetCouponInfo" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenreateCouponID">
      <http:operation location="/GenreateCouponID" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RedeemCouponNew">
      <http:operation location="/RedeemCouponNew" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PickUpCouponNew">
      <http:operation location="/PickUpCouponNew" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="DemoHttpPost" type="tns:DemoHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="CreateCoupon">
      <http:operation location="/CreateCoupon" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VoidCoupon">
      <http:operation location="/VoidCoupon" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AllocateCoupon">
      <http:operation location="/AllocateCoupon" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PickupCoupon">
      <http:operation location="/PickupCoupon" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RedeemCoupon">
      <http:operation location="/RedeemCoupon" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RedeemMultiCoupon">
      <http:operation location="/RedeemMultiCoupon" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCouponLists">
      <http:operation location="/GetCouponLists" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCouponInfo">
      <http:operation location="/GetCouponInfo" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenreateCouponID">
      <http:operation location="/GenreateCouponID" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RedeemCouponNew">
      <http:operation location="/RedeemCouponNew" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PickUpCouponNew">
      <http:operation location="/PickUpCouponNew" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Demo">
    <wsdl:port name="DemoSoap" binding="tns:DemoSoap">
      <soap:address location="http://122.144.215.54:7910/Demo.asmx" />
    </wsdl:port>
    <wsdl:port name="DemoSoap12" binding="tns:DemoSoap12">
      <soap12:address location="http://122.144.215.54:7910/Demo.asmx" />
    </wsdl:port>
    <wsdl:port name="DemoHttpGet" binding="tns:DemoHttpGet">
      <http:address location="http://122.144.215.54:7910/Demo.asmx" />
    </wsdl:port>
    <wsdl:port name="DemoHttpPost" binding="tns:DemoHttpPost">
      <http:address location="http://122.144.215.54:7910/Demo.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>