Web/Web References/CRM_API_UAT/EcInterface1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://122.144.215.53:9950/EcInterface.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/EcWebService.Model" />
  <xs:element name="IsMember">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="channel" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="channelID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dataType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="data" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsMemberResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/EcWebService.Model" minOccurs="0" name="IsMemberResult" nillable="true" type="q1:IsMemberResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateMemberBinding">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="channel" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="channelID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="socialID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dataType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="data" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateMemberBindingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/EcWebService.Model" minOccurs="0" name="CreateMemberBindingResult" nillable="true" type="q2:IsMemberResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelMemberBinding">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="channel" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="memberCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelMemberBindingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CancelMemberBindingResult" nillable="true">
          <xs:complexType>
            <xs:sequence>
              <xs:any minOccurs="0" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMemberProfile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="memberCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMemberProfileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetMemberProfileResult" nillable="true">
          <xs:complexType>
            <xs:sequence>
              <xs:any minOccurs="0" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPreviousMemberProfile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="memberCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPreviousMemberProfileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetPreviousMemberProfileResult" nillable="true">
          <xs:complexType>
            <xs:sequence>
              <xs:any minOccurs="0" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEcrmUrl">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="membercode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="redirect" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEcrmUrlResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetEcrmUrlResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMemberSegmentation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="memberCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="segmentationCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMemberSegmentationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetMemberSegmentationResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMemberBonusPointHistory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="memberCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="searchOption" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="startDate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="endDate" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMemberBonusPointHistoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetMemberBonusPointHistoryResult" nillable="true">
          <xs:complexType>
            <xs:sequence>
              <xs:any minOccurs="0" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMemberBonusPointDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="memberCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="searchOption" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="startDate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="endDate" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMemberBonusPointDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetMemberBonusPointDetailResult" nillable="true">
          <xs:complexType>
            <xs:sequence>
              <xs:any minOccurs="0" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMemberPurchaseHistory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="memberCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="searchOption" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="startDate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="endDate" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMemberPurchaseHistoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetMemberPurchaseHistoryResult" nillable="true">
          <xs:complexType>
            <xs:sequence>
              <xs:any minOccurs="0" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessGiftReservation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="memberCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="redemptionDate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="collectionCounterCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="deliveryZip" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="deliveryProvince" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="deliveryCity" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="deliveryAddress" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="notificationMode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/EcWebService.Model" minOccurs="0" name="giftList" nillable="true" type="q3:ArrayOfGift" />
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="mobile" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessGiftReservationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ProcessGiftReservationResult" nillable="true">
          <xs:complexType>
            <xs:sequence>
              <xs:any minOccurs="0" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGiftStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="memberCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="searchOption" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="startDate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="endDate" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGiftStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetGiftStatusResult" nillable="true">
          <xs:complexType>
            <xs:sequence>
              <xs:any minOccurs="0" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGiftStatusHistory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="memberCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="searchOption" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="startDate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="endDate" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGiftStatusHistoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetGiftStatusHistoryResult" nillable="true">
          <xs:complexType>
            <xs:sequence>
              <xs:any minOccurs="0" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsMemberByChannel">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="channel" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="channelID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsMemberByChannelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/EcWebService.Model" minOccurs="0" name="IsMemberByChannelResult" nillable="true" type="q4:IsMemberResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessMemberInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="channel" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="channelID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="gender" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dateOfBirth" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nationality" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="province" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="city" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="mobile" nillable="true" type="xs:string" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/EcWebService.Model" minOccurs="0" name="qnaList" nillable="true" type="q5:ArrayOfQna" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessMemberInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ProcessMemberInfoResult" nillable="true">
          <xs:complexType>
            <xs:sequence>
              <xs:any minOccurs="0" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateMember">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="channel" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="channelID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="socialID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="mobile" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="title" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="birthYear" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="birthMonth" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="birthDay" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="province" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="city" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="district" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="address" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="zipcode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="reference1" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="reference2" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="reference3" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="reference4" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="reference5" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="reference6" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="reference7" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="reference8" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="reference9" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="reference10" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="reference11" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="reference12" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="reference13" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="reference14" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="reference15" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="reference16" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="reference17" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="reference18" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="reference19" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="reference20" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateMemberResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateMemberResult" nillable="true">
          <xs:complexType>
            <xs:sequence>
              <xs:any minOccurs="0" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateMember">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="memberCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="mobile" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="title" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="birthYear" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="birthMonth" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="birthDay" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="province" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="city" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="district" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="address" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="zipcode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="reference1" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="reference2" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="reference3" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="reference4" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="reference5" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="reference6" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="reference7" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="reference8" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="reference9" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="reference10" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="reference11" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="reference12" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="reference13" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="reference14" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="reference15" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="reference16" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="reference17" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="reference18" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="reference19" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="reference20" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateMemberResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateMemberResult" nillable="true">
          <xs:complexType>
            <xs:sequence>
              <xs:any minOccurs="0" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessBonusPoint">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="memberCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="bonusPoint" type="xs:int" />
        <xs:element minOccurs="0" name="reasonCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessBonusPointResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ProcessBonusPointResult" nillable="true">
          <xs:complexType>
            <xs:sequence>
              <xs:any minOccurs="0" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BonusPointAdjustment">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="memberCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="bonusPoint" type="xs:decimal" />
        <xs:element minOccurs="0" name="txDate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="shopCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="remark" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="reasonCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BonusPointAdjustmentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BonusPointAdjustmentResult" nillable="true">
          <xs:complexType>
            <xs:sequence>
              <xs:any minOccurs="0" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActiveRedemptionGiftList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="giftCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActiveRedemptionGiftListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetActiveRedemptionGiftListResult" nillable="true">
          <xs:complexType>
            <xs:sequence>
              <xs:any minOccurs="0" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessGiftRedemption">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="memberCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="orderCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessGiftRedemptionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ProcessGiftRedemptionResult" nillable="true">
          <xs:complexType>
            <xs:sequence>
              <xs:any minOccurs="0" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NewFunction">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="NewFunctionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NewFunctionResult" nillable="true" type="xs:anyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMemberStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="memberCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="statusCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMemberStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetMemberStatusResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessSpendingAmount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="memberCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="amount" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessSpendingAmountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ProcessSpendingAmountResult" nillable="true">
          <xs:complexType>
            <xs:sequence>
              <xs:any minOccurs="0" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SalesMemoAmendment">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="shopCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="stationID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="memoNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="txDate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="oldMemberCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="newMemberCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SalesMemoAmendmentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SalesMemoAmendmentResult" nillable="true">
          <xs:complexType>
            <xs:sequence>
              <xs:any minOccurs="0" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessServiceGiftReservation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="memberCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="redemptionDate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="collectionCounterCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="notificationMode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/EcWebService.Model" minOccurs="0" name="giftList" nillable="true" type="q6:ArrayOfGift" />
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="mobile" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessServiceGiftReservationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ProcessServiceGiftReservationResult" nillable="true">
          <xs:complexType>
            <xs:sequence>
              <xs:any minOccurs="0" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>