Web/Web References/CRM_API_UAT/EcInterface0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/EcWebService.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/EcWebService.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="IsMemberResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="MemberCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Result" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="IsMemberResult" nillable="true" type="tns:IsMemberResult" />
  <xs:complexType name="ArrayOfGift">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Gift" nillable="true" type="tns:Gift" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGift" nillable="true" type="tns:ArrayOfGift" />
  <xs:complexType name="Gift">
    <xs:sequence>
      <xs:element minOccurs="0" name="GiftCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GiftQuantity" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Gift" nillable="true" type="tns:Gift" />
  <xs:complexType name="ArrayOfQna">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Qna" nillable="true" type="tns:Qna" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfQna" nillable="true" type="tns:ArrayOfQna" />
  <xs:complexType name="Qna">
    <xs:sequence>
      <xs:element minOccurs="0" name="AnswerSeq" type="xs:int" />
      <xs:element minOccurs="0" name="QuestionSeq" type="xs:int" />
      <xs:element minOccurs="0" name="QuestionSet" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Qna" nillable="true" type="tns:Qna" />
</xs:schema>