Web/Web References/CRM_API_UAT/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpBinding_IService1_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="https://122.144.215.53:9950/EcInterface.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="https://122.144.215.53:9950/EcInterface.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="https://122.144.215.53:9950/EcInterface.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/EcWebService.Model" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_IsMember_InputMessage">
    <wsdl:part name="parameters" element="tns:IsMember" />
  </wsdl:message>
  <wsdl:message name="IService1_IsMember_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsMemberResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_CreateMemberBinding_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateMemberBinding" />
  </wsdl:message>
  <wsdl:message name="IService1_CreateMemberBinding_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateMemberBindingResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_CancelMemberBinding_InputMessage">
    <wsdl:part name="parameters" element="tns:CancelMemberBinding" />
  </wsdl:message>
  <wsdl:message name="IService1_CancelMemberBinding_OutputMessage">
    <wsdl:part name="parameters" element="tns:CancelMemberBindingResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetMemberProfile_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMemberProfile" />
  </wsdl:message>
  <wsdl:message name="IService1_GetMemberProfile_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMemberProfileResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetPreviousMemberProfile_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPreviousMemberProfile" />
  </wsdl:message>
  <wsdl:message name="IService1_GetPreviousMemberProfile_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPreviousMemberProfileResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetEcrmUrl_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEcrmUrl" />
  </wsdl:message>
  <wsdl:message name="IService1_GetEcrmUrl_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEcrmUrlResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetMemberSegmentation_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMemberSegmentation" />
  </wsdl:message>
  <wsdl:message name="IService1_GetMemberSegmentation_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMemberSegmentationResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetMemberBonusPointHistory_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMemberBonusPointHistory" />
  </wsdl:message>
  <wsdl:message name="IService1_GetMemberBonusPointHistory_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMemberBonusPointHistoryResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetMemberBonusPointDetail_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMemberBonusPointDetail" />
  </wsdl:message>
  <wsdl:message name="IService1_GetMemberBonusPointDetail_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMemberBonusPointDetailResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetMemberPurchaseHistory_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMemberPurchaseHistory" />
  </wsdl:message>
  <wsdl:message name="IService1_GetMemberPurchaseHistory_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMemberPurchaseHistoryResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ProcessGiftReservation_InputMessage">
    <wsdl:part name="parameters" element="tns:ProcessGiftReservation" />
  </wsdl:message>
  <wsdl:message name="IService1_ProcessGiftReservation_OutputMessage">
    <wsdl:part name="parameters" element="tns:ProcessGiftReservationResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetGiftStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:GetGiftStatus" />
  </wsdl:message>
  <wsdl:message name="IService1_GetGiftStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetGiftStatusResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetGiftStatusHistory_InputMessage">
    <wsdl:part name="parameters" element="tns:GetGiftStatusHistory" />
  </wsdl:message>
  <wsdl:message name="IService1_GetGiftStatusHistory_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetGiftStatusHistoryResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_IsMemberByChannel_InputMessage">
    <wsdl:part name="parameters" element="tns:IsMemberByChannel" />
  </wsdl:message>
  <wsdl:message name="IService1_IsMemberByChannel_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsMemberByChannelResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ProcessMemberInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:ProcessMemberInfo" />
  </wsdl:message>
  <wsdl:message name="IService1_ProcessMemberInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:ProcessMemberInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_CreateMember_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateMember" />
  </wsdl:message>
  <wsdl:message name="IService1_CreateMember_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateMemberResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateMember_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateMember" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateMember_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateMemberResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ProcessBonusPoint_InputMessage">
    <wsdl:part name="parameters" element="tns:ProcessBonusPoint" />
  </wsdl:message>
  <wsdl:message name="IService1_ProcessBonusPoint_OutputMessage">
    <wsdl:part name="parameters" element="tns:ProcessBonusPointResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_BonusPointAdjustment_InputMessage">
    <wsdl:part name="parameters" element="tns:BonusPointAdjustment" />
  </wsdl:message>
  <wsdl:message name="IService1_BonusPointAdjustment_OutputMessage">
    <wsdl:part name="parameters" element="tns:BonusPointAdjustmentResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetActiveRedemptionGiftList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetActiveRedemptionGiftList" />
  </wsdl:message>
  <wsdl:message name="IService1_GetActiveRedemptionGiftList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetActiveRedemptionGiftListResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ProcessGiftRedemption_InputMessage">
    <wsdl:part name="parameters" element="tns:ProcessGiftRedemption" />
  </wsdl:message>
  <wsdl:message name="IService1_ProcessGiftRedemption_OutputMessage">
    <wsdl:part name="parameters" element="tns:ProcessGiftRedemptionResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_NewFunction_InputMessage">
    <wsdl:part name="parameters" element="tns:NewFunction" />
  </wsdl:message>
  <wsdl:message name="IService1_NewFunction_OutputMessage">
    <wsdl:part name="parameters" element="tns:NewFunctionResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetMemberStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMemberStatus" />
  </wsdl:message>
  <wsdl:message name="IService1_GetMemberStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMemberStatusResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ProcessSpendingAmount_InputMessage">
    <wsdl:part name="parameters" element="tns:ProcessSpendingAmount" />
  </wsdl:message>
  <wsdl:message name="IService1_ProcessSpendingAmount_OutputMessage">
    <wsdl:part name="parameters" element="tns:ProcessSpendingAmountResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SalesMemoAmendment_InputMessage">
    <wsdl:part name="parameters" element="tns:SalesMemoAmendment" />
  </wsdl:message>
  <wsdl:message name="IService1_SalesMemoAmendment_OutputMessage">
    <wsdl:part name="parameters" element="tns:SalesMemoAmendmentResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ProcessServiceGiftReservation_InputMessage">
    <wsdl:part name="parameters" element="tns:ProcessServiceGiftReservation" />
  </wsdl:message>
  <wsdl:message name="IService1_ProcessServiceGiftReservation_OutputMessage">
    <wsdl:part name="parameters" element="tns:ProcessServiceGiftReservationResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="IsMember">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/IsMember" message="tns:IService1_IsMember_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/IsMemberResponse" message="tns:IService1_IsMember_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateMemberBinding">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/CreateMemberBinding" message="tns:IService1_CreateMemberBinding_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/CreateMemberBindingResponse" message="tns:IService1_CreateMemberBinding_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CancelMemberBinding">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/CancelMemberBinding" message="tns:IService1_CancelMemberBinding_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/CancelMemberBindingResponse" message="tns:IService1_CancelMemberBinding_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMemberProfile">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetMemberProfile" message="tns:IService1_GetMemberProfile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetMemberProfileResponse" message="tns:IService1_GetMemberProfile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPreviousMemberProfile">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetPreviousMemberProfile" message="tns:IService1_GetPreviousMemberProfile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetPreviousMemberProfileResponse" message="tns:IService1_GetPreviousMemberProfile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetEcrmUrl">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetEcrmUrl" message="tns:IService1_GetEcrmUrl_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetEcrmUrlResponse" message="tns:IService1_GetEcrmUrl_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMemberSegmentation">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetMemberSegmentation" message="tns:IService1_GetMemberSegmentation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetMemberSegmentationResponse" message="tns:IService1_GetMemberSegmentation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMemberBonusPointHistory">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetMemberBonusPointHistory" message="tns:IService1_GetMemberBonusPointHistory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetMemberBonusPointHistoryResponse" message="tns:IService1_GetMemberBonusPointHistory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMemberBonusPointDetail">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetMemberBonusPointDetail" message="tns:IService1_GetMemberBonusPointDetail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetMemberBonusPointDetailResponse" message="tns:IService1_GetMemberBonusPointDetail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMemberPurchaseHistory">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetMemberPurchaseHistory" message="tns:IService1_GetMemberPurchaseHistory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetMemberPurchaseHistoryResponse" message="tns:IService1_GetMemberPurchaseHistory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ProcessGiftReservation">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ProcessGiftReservation" message="tns:IService1_ProcessGiftReservation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ProcessGiftReservationResponse" message="tns:IService1_ProcessGiftReservation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetGiftStatus">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetGiftStatus" message="tns:IService1_GetGiftStatus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetGiftStatusResponse" message="tns:IService1_GetGiftStatus_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetGiftStatusHistory">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetGiftStatusHistory" message="tns:IService1_GetGiftStatusHistory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetGiftStatusHistoryResponse" message="tns:IService1_GetGiftStatusHistory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsMemberByChannel">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/IsMemberByChannel" message="tns:IService1_IsMemberByChannel_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/IsMemberByChannelResponse" message="tns:IService1_IsMemberByChannel_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ProcessMemberInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ProcessMemberInfo" message="tns:IService1_ProcessMemberInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ProcessMemberInfoResponse" message="tns:IService1_ProcessMemberInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateMember">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/CreateMember" message="tns:IService1_CreateMember_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/CreateMemberResponse" message="tns:IService1_CreateMember_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateMember">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/UpdateMember" message="tns:IService1_UpdateMember_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/UpdateMemberResponse" message="tns:IService1_UpdateMember_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ProcessBonusPoint">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ProcessBonusPoint" message="tns:IService1_ProcessBonusPoint_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ProcessBonusPointResponse" message="tns:IService1_ProcessBonusPoint_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BonusPointAdjustment">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/BonusPointAdjustment" message="tns:IService1_BonusPointAdjustment_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/BonusPointAdjustmentResponse" message="tns:IService1_BonusPointAdjustment_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetActiveRedemptionGiftList">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetActiveRedemptionGiftList" message="tns:IService1_GetActiveRedemptionGiftList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetActiveRedemptionGiftListResponse" message="tns:IService1_GetActiveRedemptionGiftList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ProcessGiftRedemption">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ProcessGiftRedemption" message="tns:IService1_ProcessGiftRedemption_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ProcessGiftRedemptionResponse" message="tns:IService1_ProcessGiftRedemption_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="NewFunction">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/NewFunction" message="tns:IService1_NewFunction_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/NewFunctionResponse" message="tns:IService1_NewFunction_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMemberStatus">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetMemberStatus" message="tns:IService1_GetMemberStatus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetMemberStatusResponse" message="tns:IService1_GetMemberStatus_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ProcessSpendingAmount">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ProcessSpendingAmount" message="tns:IService1_ProcessSpendingAmount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ProcessSpendingAmountResponse" message="tns:IService1_ProcessSpendingAmount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SalesMemoAmendment">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SalesMemoAmendment" message="tns:IService1_SalesMemoAmendment_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SalesMemoAmendmentResponse" message="tns:IService1_SalesMemoAmendment_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ProcessServiceGiftReservation">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ProcessServiceGiftReservation" message="tns:IService1_ProcessServiceGiftReservation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ProcessServiceGiftReservationResponse" message="tns:IService1_ProcessServiceGiftReservation_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <wsp:PolicyReference URI="#BasicHttpBinding_IService1_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="IsMember">
      <soap:operation soapAction="http://tempuri.org/IService1/IsMember" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateMemberBinding">
      <soap:operation soapAction="http://tempuri.org/IService1/CreateMemberBinding" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelMemberBinding">
      <soap:operation soapAction="http://tempuri.org/IService1/CancelMemberBinding" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMemberProfile">
      <soap:operation soapAction="http://tempuri.org/IService1/GetMemberProfile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPreviousMemberProfile">
      <soap:operation soapAction="http://tempuri.org/IService1/GetPreviousMemberProfile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEcrmUrl">
      <soap:operation soapAction="http://tempuri.org/IService1/GetEcrmUrl" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMemberSegmentation">
      <soap:operation soapAction="http://tempuri.org/IService1/GetMemberSegmentation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMemberBonusPointHistory">
      <soap:operation soapAction="http://tempuri.org/IService1/GetMemberBonusPointHistory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMemberBonusPointDetail">
      <soap:operation soapAction="http://tempuri.org/IService1/GetMemberBonusPointDetail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMemberPurchaseHistory">
      <soap:operation soapAction="http://tempuri.org/IService1/GetMemberPurchaseHistory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProcessGiftReservation">
      <soap:operation soapAction="http://tempuri.org/IService1/ProcessGiftReservation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGiftStatus">
      <soap:operation soapAction="http://tempuri.org/IService1/GetGiftStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGiftStatusHistory">
      <soap:operation soapAction="http://tempuri.org/IService1/GetGiftStatusHistory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsMemberByChannel">
      <soap:operation soapAction="http://tempuri.org/IService1/IsMemberByChannel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProcessMemberInfo">
      <soap:operation soapAction="http://tempuri.org/IService1/ProcessMemberInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateMember">
      <soap:operation soapAction="http://tempuri.org/IService1/CreateMember" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateMember">
      <soap:operation soapAction="http://tempuri.org/IService1/UpdateMember" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProcessBonusPoint">
      <soap:operation soapAction="http://tempuri.org/IService1/ProcessBonusPoint" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BonusPointAdjustment">
      <soap:operation soapAction="http://tempuri.org/IService1/BonusPointAdjustment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetActiveRedemptionGiftList">
      <soap:operation soapAction="http://tempuri.org/IService1/GetActiveRedemptionGiftList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProcessGiftRedemption">
      <soap:operation soapAction="http://tempuri.org/IService1/ProcessGiftRedemption" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NewFunction">
      <soap:operation soapAction="http://tempuri.org/IService1/NewFunction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMemberStatus">
      <soap:operation soapAction="http://tempuri.org/IService1/GetMemberStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProcessSpendingAmount">
      <soap:operation soapAction="http://tempuri.org/IService1/ProcessSpendingAmount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SalesMemoAmendment">
      <soap:operation soapAction="http://tempuri.org/IService1/SalesMemoAmendment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProcessServiceGiftReservation">
      <soap:operation soapAction="http://tempuri.org/IService1/ProcessServiceGiftReservation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="https://122.144.215.53:9950/EcInterface.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>